<div class="item-list-cards">
  <mat-card *ngFor="let item of items; trackBy: trackByItemId" class="item-card">
    <mat-card-header>
      <mat-card-title>{{ item.itemOferta.item.nome || 'Produto sem nome' }}</mat-card-title>
      <mat-card-subtitle *ngIf="!getVenedorId(item)">Vendedor: {{ item.itemOferta?.vendedor?.nome  || getVenedorId(item) }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content-flex">
      <div class="item-details">
        <p class="item-price">
          Preço: {{ item.itemOferta.preco | currency : "BRL" }}
        </p>
        <p
          class="item-promotion"
          [class.on-promotion]="item.itemOferta.hasPromocaoAtiva"
        >
          Promoção: {{ item.itemOferta.hasPromocaoAtiva ? "Sim" : "Não" }}
        </p>
      </div>
      <div class="quantity-controls">
        <button mat-icon-button (click)="decrement(item)">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ item.quantidade }}</span>
        <button mat-icon-button (click)="increment(item)">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="!isEditMode" mat-icon-button color="warn" (click)="remove(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
