<div class="lista-edit-container">
  <app-loading-spinner *ngIf="loadingInitial" size="md"></app-loading-spinner>

  <app-alert-message
    (closed)="onAlertClosed()"
    *ngIf="deveExibirMensagem"
    [message]="mensagemErro"
    type="error"
    [autoClose]="true"
  >
  </app-alert-message>

  <button mat-icon-button [routerLink]="['/home']">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div
    *ngIf="!loadingInitial && !deveExibirMensagem && lista"
    class="lista-content"
  >
    <div class="list-header">
      <h2>{{ lista.nome }}</h2>
      <span class="total-value-display">
        {{ totalListaValor | currency : "BRL" }}
      </span>
    </div>

    <div class="actions">
      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/listas', lista.id, 'adicionar-itens']"
      >
        Adicionar Mais Itens
      </button>
    </div>

    <!-- SCROLL ACONTECE AQUI -->
    <app-infinite-scroll
      *ngIf="itensPage && !itensPage.empty; else noItems"
      [isLoading]="loadingScroll"
      [isLastPage]="isLastPage"
      (scrolledToEnd)="loadListaItems()"
    >
      <ul class="item-list">
        <li
          *ngFor="let item of itensPage.content; trackBy: trackByItemId"
          class="list-item-card"
        >
          <div class="item-main-content">
            <p class="item-seller">
              Vendedor: {{ item.itemOferta.vendedor.nome }}
            </p>
            <h3 class="item-name">
              {{ item.itemOferta.item.nome }}
            </h3>
            <p class="item-price">
              Preço: {{ item.itemOferta.preco | currency : "BRL" }}
            </p>
            <p
              class="item-promotion"
              [class.on-promotion]="item.itemOferta.hasPromocaoAtiva"
            >
              Promoção: {{ item.itemOferta.hasPromocaoAtiva ? "Sim" : "Não" }}
            </p>
          </div>

          <div class="quantity-controls-at-end">
            <button mat-icon-button (click)="decrementarQuantidade(item)">
              <mat-icon>remove</mat-icon>
            </button>
            <span>{{ item.quantidade }}</span>
            <button mat-icon-button (click)="incrementarQuantidade(item)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </li>
      </ul>

      <div class="total-items-summary">
        Total de Itens na Lista: {{ itensPage.totalElements }}
      </div>

      <!-- Loader do infinite scroll -->
      <app-loading-spinner
        *ngIf="loadingScroll"
        size="sm"
      ></app-loading-spinner>
    </app-infinite-scroll>
    <ng-template #noItems>
      <p><i>Esta lista não possui itens. Adicione alguns!</i></p>
    </ng-template>
  </div>
</div>
