<div class="lista-edit-container">
  <app-loading-spinner *ngIf="loadingInitial" size="md"></app-loading-spinner>

  <app-alert-message
    (closed)="onAlertClosed()"
    *ngIf="deveExibirMensagem"
    [message]="mensagemErro"
    type="error"
    [autoClose]="true"
  >
  </app-alert-message>

  <button mat-icon-button [routerLink]="['/home']">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div
    *ngIf="!loadingInitial && !deveExibirMensagem && lista"
    class="lista-content"
  >
    <div class="list-header">
      <h2>{{ lista.nome }}</h2>
      <span class="total-value-display">
        {{ totalListaValor | currency : "BRL" }}
      </span>
    </div>

    <!-- ITENS DA LISTA -->
    <ng-container *ngIf="itensPage && itensPage.content && itensPage.content.length > 0; else noItems">
      <app-item-list-display
        [items]="itensPage!.content"
        [isEditMode]="true"
        (quantityIncrement)="incrementarQuantidade($event)"
        (quantityDecrement)="decrementarQuantidade($event)"
      ></app-item-list-display>

      <div class="total-items-summary">
        Total de Itens na Lista: {{ itensPage.totalElements }}
      </div>
    </ng-container>

    <ng-template #noItems>
      <p><i>Esta lista não possui itens. Adicione alguns!</i></p>
    </ng-template>
  </div>

  <button mat-fab color="primary" class="fab-add-item" (click)="openAddItemsModal()">
    <mat-icon>add</mat-icon>
  </button>
</div>
