<!-- src/app/features/compra/components/compra-item/compra-item.component.html -->
<mat-card
  [formGroup]="itemForm"
  class="compra-item-card"
  [class.item-picked]="estaNoCarrinhoControl.value"
>
  <mat-card-content class="item-details-content">
    <div class="item-header">
      <mat-checkbox [formControl]="estaNoCarrinhoControl" color="primary">
        <span class="item-name">{{ itemOriginal.nome }}</span>
      </mat-checkbox>
      <div class="quantity-control">
        <button
          mat-icon-button
          type="button"
          (click)="decreaseQuantity()"
          [disabled]="quantidadeControl.value <= 1"
          matTooltip="Diminuir quantidade"
        >
          <mat-icon>remove</mat-icon>
        </button>

        <mat-form-field appearance="outline" class="quantity-input">
          <input
            matInput
            type="number"
            min="1"
            [formControl]="quantidadeControl"
            (blur)="normalizeQuantity()"
            matTooltip="Quantidade"
          />
        </mat-form-field>

        <button
          mat-icon-button
          type="button"
          (click)="increaseQuantity()"
          matTooltip="Aumentar quantidade"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="item-info">
      <p class="item-vendor">
        Vendedor: {{ itemOriginal.vendedor.nome || "N/A" }}
      </p>
      <p *ngIf="itemOriginal.observacao" class="item-notes">
        Observação: {{ itemOriginal.observacao }}
      </p>
    </div>

    <div class="item-pricing">
      <mat-form-field appearance="outline" class="price-input">
        <mat-label>Preço Unitário Atual</mat-label>
        <input
          matInput
          type="number"
          step="0.01"
          [formControl]="precoAtualControl"
          placeholder="0.00"
          (blur)="formatToTwoDecimals(precoAtualControl)"
        />
        <span matTextPrefix>R$</span>
        <mat-error *ngIf="precoAtualControl?.hasError('required')"
          >Preço é obrigatório.</mat-error
        >
        <mat-error *ngIf="precoAtualControl?.hasError('min')"
          >Preço deve ser positivo.</mat-error
        >
      </mat-form-field>

      <mat-checkbox
        [formControl]="emOfertaNaLojaControl"
        color="accent"
        class="promotion-checkbox"
      >
        Em oferta na loja?
      </mat-checkbox>

      <ng-container *ngIf="emOfertaNaLojaControl?.value">
        <mat-form-field appearance="outline" class="price-input">
          <mat-label>Valor da Oferta</mat-label>
          <input
            matInput
            type="number"
            step="0.01"
            placeholder="0.00"
            [formControl]="valorOfertaControl"
            (blur)="formatToTwoDecimals(valorOfertaControl)"
          />
          <span matTextPrefix>R$</span>

          <mat-error *ngIf="valorOfertaControl?.hasError('required')"
            >Valor da oferta é obrigatório.</mat-error
          >
          <mat-error *ngIf="valorOfertaControl?.hasError('min')"
            >Valor da oferta deve ser positivo.</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline" class="price-input">
          <mat-label>Valor Original na Loja</mat-label>
          <input
            matInput
            type="number"
            step="0.01"
            placeholder="0.00"
            [formControl]="valorOriginalNaLojaControl"
            (blur)="formatToTwoDecimals(valorOriginalNaLojaControl)"
          />
          <span matTextPrefix>R$</span>
          <mat-error *ngIf="valorOriginalNaLojaControl?.hasError('required')"
            >Valor original é obrigatório.</mat-error
          >
          <mat-error *ngIf="valorOriginalNaLojaControl?.hasError('min')"
            >Valor original deve ser positivo.</mat-error
          >
        </mat-form-field>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
