:host {
  display: block;
}

.main-header {
  background-color: var(--app-primary-color);
  color: var(--app-on-primary-color);
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px; /* Altura fixa do header */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    color: var(--app-on-primary-color);
  }

  .page-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
  }
}

nav a {
  color: var(--app-on-primary-color);
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 500;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.logout-button {
  background-color: transparent;
  color: var(--app-on-primary-color);
  border: 1px solid var(--app-on-primary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: var(--app-on-primary-color);
    color: var(--app-primary-color);
  }
}

@media (max-width: 768px) {
  .main-header {
    padding: 0 1rem;
  }

  .title-container .page-title {
    font-size: 1.1rem;
  }

  .logout-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}
