.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; // Ensure it's on top of other content
}

.spinner {
  display: block;
}

.progress-wrapper {
  width: 50vw;          // 50% da largura da viewport
  margin: 0 auto;       // centraliza horizontalmente
}
