.infinite-scroll-container {
  height: 100%; // Make the container fill the available height
  overflow-y: auto;
  // Any other default styles for the scrollable container

  /* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for Internet Explorer and Edge Legacy */
  -ms-overflow-style: none;
}
