<div class="lista-create-container">
  <app-loading-spinner *ngIf="loading" size="md"></app-loading-spinner>

  <app-alert-message
    (closed)="onAlertClosed()"
    *ngIf="deveExibirMensagem"
    [message]="mensagemErro"
    type="error"
    [autoClose]="true"
  >
  </app-alert-message>

  <button mat-icon-button [routerLink]="['/home']">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div *ngIf="!loading && !deveExibirMensagem" class="lista-content">
    <div class="list-header-flex">
      <form [formGroup]="listaForm" class="list-name-form">
        <mat-form-field appearance="outline" class="list-name-input">
          <mat-label>Nome da Lista</mat-label>
          <input matInput formControlName="nome"
          (blur)="listaForm.get('nome')?.setValue(listaForm.get('nome')?.value?.trim())"
          placeholder="Ex: Compras do Mês" />
          <mat-error *ngIf="listaForm.get('nome')?.hasError('required')">
            O nome da lista é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="list-vendedor-input">
          <mat-label>Vendedor</mat-label>
          <mat-select formControlName="vendedorId" placeholder="Selecione um Vendedor" [disabled]="isVendorSelectionLocked">
            <ng-container *ngIf="(vendedores$ | async) as vendedores">
              <mat-option *ngIf="vendedores.content.length === 0">
                Nenhum vendedor disponível
              </mat-option>
              <mat-option *ngFor="let vendedor of vendedores.content" [value]="vendedor.id">
                {{ vendedor.nome }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="listaForm.get('vendedorId')?.hasError('required')">
            O vendedor é obrigatório.
          </mat-error>
        </mat-form-field>
      </form>
      <span class="total-value-display">
        {{ totalListaValor | currency : "BRL" }}
      </span>
    </div>

    <div *ngIf="itensLista.length > 0; else noItems" class="item-list-container">
      <app-item-list-display
        [items]="itensLista"
        [isEditMode]="true"
        (quantityIncrement)="incrementarQuantidade($event)"
        (quantityDecrement)="decrementarQuantidade($event)"
        (itemRemove)="removerItem($event)"
      ></app-item-list-display>

      <div class="total-items-summary">
        Total de Itens na Lista: {{ totalItens }}
      </div>

      <div class="create-list-actions">
        <button
          mat-flat-button
          color="accent"
          (click)="salvarLista()"
          [disabled]="listaForm.invalid || itensLista.length === 0 || loading"
        >
          Criar Lista
        </button>
      </div>
    </div>
    <ng-template #noItems>
      <p><i>Adicione itens à sua nova lista!</i></p>
    </ng-template>
  </div>

  <button mat-fab color="accent" class="fab-add-item" (click)="openAddItemModal()">
    <mat-icon>add</mat-icon>
  </button>
</div>
