.list-header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.list-name-form {
  flex-grow: 1;
}

.total-value-display {
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
}

.fab-add-item {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 100;
}

.item-list-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 80px; // Padding for the main create button at the bottom
}

.item-card {
  .mat-mdc-card-header {
    padding-bottom: 8px;
  }

  .card-content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 8px;
  }

  .item-details {
    p {
      margin: 0; // Remove default margins from paragraphs
    }
  }

  .item-price {
    font-weight: 500;
  }

  .item-promotion {
    &.on-promotion {
      color: #4caf50;
      font-weight: bold;
    }
  }

  .quantity-controls {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      font-size: 1.2em;
      min-width: 20px;
      text-align: center;
    }
  }
}

.create-list-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
