.lists-accordion {
  margin-top: 2rem;
}

mat-expansion-panel {
  margin-bottom: 1rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12); // Mimic mat-card shadow
}

mat-expansion-panel-header {
  height: auto !important; // Allow content to dictate height
  padding: 1rem;
  // The header itself is a flex container
}

// Target the elements directly within the header for flex distribution
.mat-expansion-panel-header-title {
  flex-grow: 1; // Allows title to take available space
  display: flex; // Ensure internal content uses flex
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  gap: 8px; // Space between title and item count
}

.total-itens {
  font-size: 0.9em;
  color: var(--mat-expansion-panel-header-description-color);
}

.mat-expansion-panel-header-description {
  flex-grow: 1; // Allows description to take available space
  display: flex;
  align-items: center;
  justify-content: flex-end; // Pushes content to the end
  gap: 8px; // Space between icon and text (if any other description content)

  mat-icon {
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}

.total-valor {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}
