<mat-accordion *ngIf="page && !page!.empty; else noLists">
  <mat-expansion-panel *ngFor="let lista of page?.content ?? []">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>{{ lista.nome }}</strong>
      </mat-panel-title>
      <mat-panel-description>
        {{ lista.totalItens }} itens - {{ lista.valorTotal | currency : "BRL" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-lista-itens-view [lista]="lista"></app-lista-itens-view>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #noLists>
  <p><i>Você ainda não tem nenhuma lista de compras.</i></p>
</ng-template>

<mat-paginator
  *ngIf="page"
  [length]="page.totalElements"
  [pageSize]="page.size"
  [pageIndex]="page.number"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
  aria-label="Select page of lists"
>
</mat-paginator>

<ng-container *ngIf="loading">
  <div class="loading-container">
    <app-loading-spinner
      *ngIf="loading"
      size="md"
      color="warn"
    ></app-loading-spinner>
  </div>
</ng-container>

<app-alert-message
  (closed)="onAlertClosed()"
  *ngIf="deveExibirMensagem"
  [message]="mensagemErro"
  type="error"
  [autoClose]="true"
>
</app-alert-message>
